
body {
    font-size: 100%;
    width: 350px;
    margin: 0;
    margin-bottom: 8px;
}

paper-listbox paper-item:hover {
    background: lightgrey;
    cursor: pointer;
}

.primary-text {
    display: block;
    font-weight: 500;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 16px;
    margin-right: 16px;
}

.container {
    display: flex;
    margin-left: 8px;
    margin-right: 8px;
    justify-content: space-between;
}
        
#sort-radio {
    margin-bottom: 8px;
}
        
.forms-list {
    margin-bottom: 4px;
    margin-top: 4px;
}
        
#toggle-hide-duplicates {
    font-size: 90%;
}
